8{
  margin: 0;
  padding: 0;
}


.img{
  margin: 0;
  padding: 0;
  background-image:
  url(
"./fireworks2.jpg");
  background-size: "cover";
  height: 100vh;
  /* margin-top: -70px; */
  width : 100vw;
  /* font-size:500px; */
  position: absolute;
  background-position: center center;
  background-repeat:no-repeat;
  z-index: -9999999999;
  background-attachment: sticky;
};

